body {
	width: 50%;
	margin-left: 25%;
	margin-top: 3%;
	background: rgba(102,153,204,0.8);
	padding: 2%;
	border-radius: 50px;
	font-size: 18px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 18px;
}

p {
	padding: 1%;
}

.plusbas {
	position: relative;
	top: 28px;
}

.plusbas2 {
	position: relative;
	top: 28px;
	right: 204px;
	margin-bottom: 2%;
}

html {
	background-image: url("background.JPG");
}

input[type=button] {
	font-size: 18px;
	background: rgb(159, 191, 223);
	color: black;
	border-radius: 15px;
	display: block;
	width: 40%;
	margin-left: 30%;
	margin-top: 10px;
}

	input[type=button]:hover {
		background: rgb(102,204,204);
		color: black;
		border-radius: 15px;
	}

	input[type=button]:disabled{
		background : rgb(109, 132, 156);
	}
input {
	margin-left: 5%;
}

input.delete{
	font-size: 18px;
	background: rgb(159, 191, 223);
	color: black;
	border-radius: 30px;
	display: inline-block;
	width: 30px;
	height : 30px;
	margin-left: 10px;
}

.btn{
	position : relative;
	top : 20px;
}

.datasource{
	margin-bottom : 5%;
}



@media screen and (max-width: 1340px){
	input[type=button] {
		font-size: 18px;
		background: rgb(159, 191, 223);
		color: black;
		border-radius: 15px;
		display: inline-block;
		width: auto;
		margin-top: 10px;
		align-self: center;
	}

	body{
		width : 80%;
		margin-left : 8%;
		margin-top : 7%;
		margin-bottom : 3%;
		background: rgba(102,153,204,0.7);
	}

	.plusbas2{
		position : relative;
		top : 28px;
		right : 30.5%;
		margin-left : -1%;
	}

	.datasource{
		margin-bottom : 15%;
	}

	input.btn, input.btn2{
		width : 90%;
		margin-left : 5%;
	}

	input.btn{
		margin-top : 7%;
	}

	.accept{
		margin : 0%;
	}

	label{
		display : inline;
	}

	.activityname{
		margin-top : 10%;
	}
	
	html{
		background-image: url("backgroundportrait.jpg");
	}
}





